@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px) ;
    }

    80%{
        transform: translateX(15px);
    }

    100%{
        opacity: 1;
        transform: 0;
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(5rem) ;
    }

    80%{
        transform: translateX(-1.5rem);
    }

    100%{
        opacity: 1;
        transform: 0;
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translatey(10rem) ;
    }

    80%{
        transform: translatey(-1.5rem);
    }

    100%{
        opacity: 1;
        transform: 0;
    }
}